# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
*.egg
.venv/
venv/

# Node
node_modules/
.angular/
dist/

# Environment
.env

# Database files
*.db

# Database files
*.db

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
